{% extends "network/layout.html" %}

{% block body %}
<h1>All Posts</h1>
{% if user.is_authenticated %}
<form action="create_post" method="post" class="post-form">
    {% csrf_token %}
    <div class="form-group">
        <textarea name="content" class="form-control" id="postTextArea" rows="3"
                  placeholder="Share your thoughts"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>

{% endif %}

<div>
    {% for post in posts %}
    <div class="card text-center single-post">
        <div class="card-header">
            {{post.author}}
        </div>
        <div class="card-body">
            <p class="card-text">{{ post.content }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            {{post.timestamp}}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}