{% extends "network/layout.html" %}

{% block body %}
<h1>{{page_name}}</h1>

<div class="container profile-card">
    <div class="row justify-content-start ">
        <div class="col-6">
            <strong>Followers: </strong> {{followers.count}}
        </div>
        <div class="col-6">
            <strong>Following: </strong> {{following.count}}
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-6">
            <strong>Member since: </strong> {{reg_date}}
        </div>
        <div class="col-6">
            <strong>relationship: </strong> {{relationship}}
        </div>
    </div>
</div>

{% if user.is_authenticated %}
    {% if relationship != "owner" %}
    <div class="form-group" class="form-control">
        <form action="{% url 'follow' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="user" value = {{user_id}} >
            {% if relationship == "following" %}
                <input type="submit" name="action" value="Unfollow" class="btn btn-danger">
            {% elif relationship == "followed" %}
                <input type="submit" name="action" value="Follow Back" class="btn btn-success">
            {% elif relationship == "none" %}
                <input type="submit" name="action" value="Follow" class="btn btn-primary">
            {% endif %}
            </form>
    </div>
    {% else %}
    <form action="create_post" method="post" class="post-form">
        {% csrf_token %}
        <div class="form-group">
            <textarea name="content" class="form-control" id="postTextArea" rows="3"
                      placeholder="Share your thoughts"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
    {% endif %}

{% endif %}


<div>
    {% for post in posts %}
    <div class="card text-center single-post">
        <div class="card-header">
            {{post.author}}
        </div>
        <div class="card-body">
            <p class="card-text">{{ post.content }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            {{post.timestamp}}
        </div>
    </div>
    {% endfor %}
</div>


<nav class="d-flex justify-content-around" aria-label="Page navigation example">
  <ul class="pagination" style="text-align:center;">
      {% if posts.paginator.count != 0 %}
          {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
          {% endif %}
            {% for page_num in posts.paginator.page_range %}
                {% if page_num == posts.number  %}
                    <strong><li class="page-item"><a class="page-link current" href="?page={{page_num}}">{{page_num}}</a></li></strong>
                {% else  %}
                    <li class="page-item"><a class="page-link" href="?page={{page_num}}">{{page_num}}</a></li>
                {% endif %}
            {% empty %}
            {% endfor %}
          {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
          {% endif %}
      {% endif %}
  </ul>
</nav>


{% endblock %}